/*@import url('https://fonts.googleapis.com/css?family=Francois+One|Times:200,200i,350,350i');*/
html, body { height: 100%; }
body{
  margin:0;
  padding:0;
}
.main {
  font-family: 'Helvetica';
  margin: 0;
  width: 100%;
  color: #fafafa;
  font-size: 1.1em;
  background: url('https://images.pexels.com/photos/60015/cinque-terre-italy-rocks-sea-60015.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb') no-repeat;
  /*background: url('https://images.unsplash.com/photo-1504670482337-6863551c6f55?auto=format&fit=crop&w=2850&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') no-repeat;*/
  background-size: 100% 100%;
  opacity:0.9;
  position:fixed;
  height:100%;
  top:0;
  left:0;
}

button{
  border-radius: 0px;
}

.error{
  color: red;
}

.ui.form{
  width: 30%;
  margin: 0 auto;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.selectionBox{
  width: 30%;
  height: 450px;
}

.allBoxes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h3{
  text-align: center;
  color: #5e5f6a;
}

h1{
  font-weight: 100;
  text-align: center;
  color: white;
}

p{
  font-size: 15px;
  color: black;
}

.loginButtons{
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 20px;
  margin-left: 80%;
}

.signup-btn, .login-btn{
  opacity: .80;
  margin-left: 50px;
  font-size: 16px;
}

.signup-btn:hover, .login-btn:hover{
  opacity: 1;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1.75;
}
/*
.login-btn:hover{
  opacity: 1;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1.75;
}*/

.dateNight-btn, .groupEvents-btn, .family-btn{
  margin-top: 170px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 18vw;
  width: 18vw;
  background-color: transparent;
  background-size: 400px 400px;
  margin-left:100px;
  transition: all .5s ease-in-out;
  opacity: 0.80;
}

.dateNight-btn:hover, .groupEvents-btn:hover, .family-btn:hover{
  opacity: 1;
  transition: width 0.5s ease;
  transform: scale(1.08);
}

.dateNight-btn:focus, .groupEvents-btn:focus, .family-btn:focus{
  outline: none;
  opacity: 1;
  transform: scale(1.11);
}

/*.groupEvents-btn{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 20vw;
  width: 20vw;
  background-color: transparent;
  background-size: 400px 400px;
  margin-left:100px;
  margin-top: 50px;
  transition: all .5s ease-in-out;
}

.family-btn{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 20vw;
  width: 20vw;
  background-color: transparent;
  background-size: 400px 400px;
  margin-left:100px;
  margin-top: 50px;
  transition: all .5s ease-in-out;
}*/


/*.groupEvents-btn:hover{
  opacity: 0.8;
  transition: width 0.5s ease;
  transform: scale(1.1);
}

.family-btn:hover{
  opacity: 0.8;
  transition: width 0.5s ease;
  transform: scale(1.1);
}*/

.signUpPage{
  opacity:0.7;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1000;
}

.loginPage{
  opacity:0.7;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1000;
}
.login-div{
  margin-top: 20px;
}

.signup-div{
  margin-top: 20px;
}

h3{
  color: black;
  text-align: center;
}

.search-bar{
  margin-top: 95px;
}


.input{
  margin: auto;
  margin-left: 30%;
}


.event{
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 10px #efefef;
  -moz-box-shadow: 0 5px 10px #efefef;
  box-shadow: 0 5px 10px #efefef;


}
.settings-div{
  height:900px;
  padding: 40px;
  margin: 0 auto;
}
.settings-input{
  margin-left: 42%;
}

.eventList{
  margin-bottom: 100px;
  margin-left: 100px;

}

.saved-events{
  background-color: #ffffff;
  height:900px;
}
.settings-page{
  background-color: #ffffff;
  height:100%;
}




.go-back-btn{
  margin-left: 50px;
}

.go-back-btn:hover{
  text-decoration: underline;
}


.settings-btn{
  margin-left:25%;
}

.saved-btn{
  margin-left:5%;
}

.ui.buttons:not(.basic):not(.inverted){
  float: right;
}
.radio-btn-section{
  margin-top: 20px;
}

.budget{
  margin-left: 5%;
}

.saved-btn:hover{
  text-decoration: underline;
}
.settings-btn:hover{
  text-decoration: underline;
}

.event-info{
  text-align: center;
  margin-top: -80px;
}
.ui.small.image{
  margin-left: 10px;
  margin-top: 10px;
}
.options-div{
  margin-left:5%;
}

.saved-bookmark{
  color: #13B89F;
}
.dollar-select{
  color: #13B89F;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*css grid*/
.sidebar {
  grid-area: sidebar;
  /*border: 1px solid black;*/
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}


.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 350px 300px 500px;
  grid-template-areas:
    "....... header header"
    "sidebar content content"
    "footer  footer  footer";
  background-color: #fff;
  margin-left: 30px;
  color: #444;
}


.box {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}



.contentSidebar {
  grid-area: contentSidebar;
}

.headerSidebar {
  grid-area: headerSidebar;
  background-color: #f7f7f7;
}


.wrapperSidebar {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50%  50%x;
  grid-template-areas:
    "headerSidebar headerSidebar"
    "contentSidebar contentSidebar";
  background-color: #fff;
}
.boxSidebar {
  color: #fff;
  border-radius: 1px;
  padding: 20px;
  font-size: 100%;
}


