@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Serif:400,400i,700,700i');
body{
  height:100%;
  margin:0;
  padding:0;
}
.main {
  font-family: 'PT Serif', sans-serif;
  margin: 0;
  min-height: 730px;
  width: 100%;
  color: #fafafa;
  font-size: 1.1em;
  background-size: 10000px;
  background: url('https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/af415bdd2cda/assets/img/home/hero_photos/uq7E1Tf9g8IxXLSO9cMDOw.jpg') repeat;
}

@media only screen and (max-width: 1000px) {
  .main {
    width: 1000px;
    background: url('https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/af415bdd2cda/assets/img/home/hero_photos/uq7E1Tf9g8IxXLSO9cMDOw.jpg') repeat;
  }
}

.error{
  color: red;
}
.ui.form{
  width: 30%;
  margin: 0 auto;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.selectionBox{
  width: 50%;
  height: 500px;
}

.allBoxes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1{
  text-align: center;
  color: #5e5f6a;
  font-family: sans-serif;
}
.loginButtons{
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 20px;
  margin-left: 80%;
}

.signup-btn{
  margin-left: 50px;
}
.login-btn{
  margin-left: 50px;
}

.signup-btn:hover{
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}

.login-btn:hover{
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}

.dateNight-btn{
  height: 21vw;
  width: 21vw;
  background-color: white;
  background-size: 400px 400px;
  margin-left:100px;
  margin-top: 50px;
  border: none;
  transition: all .5s ease-in-out;
}

.groupEvents-btn{
  height: 21vw;
  width: 21vw;
  background-color: white;
  margin-left:100px;
  margin-top: 50px;
  transition: all .5s ease-in-out;
}

.family-btn{
  height: 21vw;
  width: 21vw;
  background-color: white;
  margin-left:100px;
  margin-top: 50px;
  transition: all .5s ease-in-out;
}

.family-btn:hover{
  opacity: 0.8;
  transition: width 0.5s ease;
  transform: scale(1.1);
}

.groupEvents-btn:hover{
  opacity: 0.8;
  transition: width 0.5s ease;
  transform: scale(1.1);
}
.dateNight-btn:hover{
  opacity: 0.8;
  transition: width 0.5s ease;
  transform: scale(1.1);
}

.signUpPage{
  margin-top: 20px;
  background-color: #ffffff;
  height:900px;
}

.loginPage{
  margin-top: 20px;
  background-color: #ffffff;
  height:900px;
}

h3{
  color: black;
  text-align: center;
}

p{
  color: black;
}

.newsFeed{
  background-color: #ffffff;
  height:900px;
}
.input{
  margin: auto;
  margin-left: 30%;

}

.name{
  margin-left: 0px;
}

.event{
  border: 1px solid black;
  width: 50%;
  height: 200px;
  margin: 0 auto;

}

.eventList{
  margin-bottom: 100px;
  margin-left: 100px;

}

.sidebar{
  float: left;
  height: 1400px;
  width: 28%;
  padding: 30px;
  border:1px solid darkblue;
}

.profile{
  margin-top: 40px;
  margin-left: 10px;
}

.profile-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.saved-events{
  background-color: #ffffff;
  height:900px;
}
.settings-page{
  background-color: #ffffff;
  height:900px;
}


.settings-div{
  margin-left: 50%;
}

.go-back-btn{
  margin-left: 50px;
}

.go-back-btn:hover{
  text-decoration: underline;
}
.preferences{
  margin-top: 50px;
  position: relative;
}

.settings-btn{
  margin-left:-20px;
}
.saved-btn{
  margin-left:20px;
}
.ui.buttons:not(.basic):not(.inverted){
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}
.radio-btn-section{
  margin-top: 20px;
}

.budget{
  margin-left: 10%;
}
div.ui.small.basic.buttons{
  margin-left: 7%;
}
.saved-btn:hover{
  text-decoration: underline;
}
.settings-btn:hover{
  text-decoration: underline;
}

.event-info{
  text-align: center;
  margin-top: -80px;
}
.ui.small.image{
  margin-left: 10px;
  margin-top: 10px;
}
.options-div{
  margin-left:5%;
}

.saved-bookmark{
  color: #13B89F
}
.dollar-select{
  color: #13B89F;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


